<div class="head">
        <img class="inline logo" src="/static/images/logo_tit1.png" alt="logo">
        <!--<h3 class="inline">爱上天使街外卖平台</h3>-->
        <div class="v-line">
          <p>外卖平台</p>
        </div>
        <div class="search">
          <img  src="/static/images/search.png">
        </div>
  </div>

    <div id="stuff-container2" class="stuff-container-fa">
    <div class="stuff-container">

      <!--carousel start -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <a>
            <img src="http://anglestreet.qiniudn.com/static/images/shoufeibiaozhun.jpg?imageView2/2/w/320/h/200" alt="展示图片">
            </a>
          </div>
          
          <div class="item">
            <a href="">

            <img src="http://anglestreet.qiniudn.com/static/images/jiaowaimai.jpg?imageView2/2/w/320/h/200" style="height:200px" alt="展示图片">
            </a>
          </div>
          <div class="item">
            <a ng-href="/#/shop/54007fa9d8ef5ffcd9b27ddf">
            <img src="http://anglestreet.qiniudn.com/static/images/xiongmaoshushu.jpg?imageView2/2/w/320/h/200" alt="展示图片">
            </a>
          </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
        <!-- carousel end -->
      <div class="typelist container">
        <a href="/#/shop">
        <div class="row">
          <div class="col-xs-3">
            <img src="/static/images/type-hot.png">
            <p>当季热卖</p>
          </div>
          <div class="col-xs-3">
            <img src="/static/images/type-drink.png">
            <p>特色饮品</p>
          </div>
          <div class="col-xs-3">
            <img src="/static/images/type-fast.png">
            <p>速食快餐</p>
          </div>
          <div class="col-xs-3">
            <img src="/static/images/type-dessert.png">
            <p>甜品点心</p>
          </div>
        </div>
        <div class="row alt">
          <div class="col-xs-3">
            <img src="/static/images/type-snacks.png">
            <p>小吃零食</p>
          </div>
          <div class="col-xs-3">
            <img src="/static/images/type-dish.png">
            <p>品牌菜品</p>
          </div>
          <div class="col-xs-3">
            <img src="/static/images/type-noodle.png">
            <p>风味速食</p>
          </div>
          <div class="col-xs-3">
            <img src="/static/images/type-fresh.png">
            <p>水果鲜花</p>
          </div>
        </div>
        </a>
      </div>
      <div class="help">
       <div class="glyphicon glyphicon-chevron-down">
        <p>客服热线：0731-58560200</p>
        <p>湖南爱上天使街科技有限公司技术支持</p>
      </div>
      <div style="margin-bottom:20px;"></div>
    </div>
  </div>
  <script>
    var stuffcontainer2
    setTimeout(function(){
      stuffcontainer2 = new iScroll("stuff-container2",{"vScrollbar":false});
    }, 1000);
    setTimeout(function(){
      stuffcontainer2.refresh();
    }, 3000);
    setTimeout(function(){
      stuffcontainer2.refresh();
    }, 10000);
  </script>
