<div ng-controller="">
  <div class="head">
    <a href="/">
      <div class="container">
        <span class="glyphicon glyphicon-circle-arrow-left back-btn"></span>
        <h3 class="inline title">店铺详情</h3>
      </div>
    </a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-9">
        <img class="inline d-shop-img" src="/static/images/type1.png">
        <div class="inline stuff">
          <h4>正宗浏阳特色蒸菜</h4>
          <div>
            <img class="d-stars inline" src="/static/images/s5.png"><span>5.0</span>
          </div>
        </div>
      </div>
      <span class="col-xs-3 telphone glyphicon glyphicon-phone-alt pull-right"></span>

    </div>
    <div class="item-msg-ct">
      <div class="item-msg">
        <div class="row">
          <p class="col-xs-3">接单时间</p>
          <p class="col-xs-3 price">3分钟34秒</p>
          <p class="col-xs-3"></p>
          <p class="col-xs-3">高于附近5%的商家</p>
        </div>
        <div class="row">
          <p class="col-xs-3">接单时间</p>
          <p class="col-xs-3 price">3分钟34秒</p>
          <p class="col-xs-3"></p>
          <p class="col-xs-3">高于附近5%的商家</p>
        </div>
        <div class="row">
          <p class="col-xs-3">接单时间</p>
          <p class="col-xs-3 price">3分钟34秒</p>
          <p class="col-xs-3"></p>
          <p class="col-xs-3">高于附近5%的商家</p>
        </div>
      </div>
    </div>
    <div class="item-msg-ct">
      <div class="item-msg">
        <p>湘潭市湖南科技大学堕落街</p>
      </div>
      <div class="item-msg">
        <p>营业时间: 09:30-22:30</p>
      </div>
      <div class="item-msg">
        <p>配送费：0元 (32元起送)</p>
      </div>

    </div>
    <div class="item-msg-ct">
      <div class="item-msg">
        <p class="inline"><span class="discus-ico glyphicon glyphicon-link"></span>查看评价</p>
        <p class="pull-right">62＞</p>
      </div>
    </div>
  </div>
  <!--container end-->
</div>
